body {
    background-color: #E0E0E2;
}

h1 {
    color: #721817;
}

h2 {
    color: #721817;
}

.center-text {
    text-align: center;
}

table {
    margin-top: 12px;
}

#tableHeader {
font-weight: bolder;
}

div {
    text-align: center;
}